@model Board
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Edit Genre</h1>
        </div>
        <div class="col-lg-8 mx-auto">
            <form method="post" asp-action="edit">
                <div class="form-group">
                    <label asp-for="Desc">Desc</label>
                    <input type="text" class="form-control" asp-for="Desc" placeholder="Enter board name">
                    <span class="text-danger" asp-validation-for="Desc"></span>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
